
.textTitle{
  font-family: 'Manrope', sans-serif !important;
      font-style: normal;
      font-weight: 800 !important;
      font-size: $fs-48 !important;
      text-align: center;
      letter-spacing: 0.05em !important;
}

.textSubtitle{
  font-family: 'Manrope', sans-serif !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: $fs-24 !important;
  text-align: center;
  letter-spacing: 0.05em !important;
}