$w_phoneVer: 320px;
$w_phoneHor: 480px;
$w_iPadVer: 600px;
$w_iPadHor: 800px;
$w_tablet: 1024px;
$w_phone: 1280px;
$w_fullhd: 1920px;
$w_adapt: $w_tablet;

$clr-back-1: #020202;
$clr-back-2: #0d1522;
$clr-btn-1: #1cb0ff;
$clr-btn-2: #0a87fa;
$clr-footer-1: #0f162f;
$clr-footer-2: #0e141e;
$clr-header-2: #1a202c;
$clr-header-1: #6a6868;
$clr-text-1: #fff;

$fs-64: vwDesk(64);
$fs-48: vwDesk(48);
$fs-40: vwDesk(40);
$fs-36: vwDesk(36);
$fs-24: vwDesk(24);
$fs-18: vwDesk(18);
$fs-14: vwDesk(14);

$fs-64-m: vwMob(64);
$fs-48-m: vwMob(48);
$fs-40-m: vwMob(40);
$fs-36-m: vwMob(36);
$fs-24-m: vwMob(24);
$fs-18-m: vwMob(18);
$fs-14-m: vwMob(14);

$anim-time: 0.2s;
$anim-type: ease-in;
