
.btnBlue {
  border-radius: 10px;
  background: linear-gradient(180deg, #1cb0ff 0%, #0a87fa 100%);
  transition: box-shadow $anim-time linear, color $anim-time linear;
  align-items: center;
  &:hover {
    color: $clr-text-1;
    cursor: pointer;
    box-shadow: 0px 4px 20px rgba(19, 155, 253, 0.8);
  }
}
.btnApple {
  border-radius: 10px;
  background: linear-gradient(174.33deg, #29649b 2.19%, #00fddf 99.09%);
  transition: box-shadow $anim-time linear, color $anim-time linear;
  align-items: center;
  &:hover {
    color: $clr-text-1;
    cursor: pointer;
    box-shadow: 0px 4px 20px rgba(0, 253, 223, 0.8);
  }
}


.pageImgHead {
  border-radius: vwDesk(40);
  margin: vwDesk(30) auto vwDesk(65);
  width: vwDesk(1840);
  height: vwDesk(515);
  @media(max-width:$w-adapt){
    border-radius: vwMob(20);
    margin: vwMob(70) auto vwMob(35);
    width: vwMob(340);
    height: vwMob(200);
  }
}

.transparent {
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
}
.v-application--wrap {
  background: linear-gradient(135deg, $clr-back-1, $clr-back-2);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 22.5/18 * 1;
  font-weight: normal;
  color: $clr-text-1;
}
